* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color: #f3e8d3;
  --main-font: "Unica One", cursive;
  --secondary-font: "Spectral", serif;
}

body {
  height: 100vh;
  background: var(--bg-color);
  padding: 18px;
  font-family: var(--main-font);
}

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
  color: var(--bg-color);
}

#content {
  padding: 23px;
  width: 100%;
}
